.userAvatar {
  position: relative;

  @media screen and (max-width: 768px) {
    margin: 0 auto;
  }

  &:hover, &:active {
    button {
      opacity: 50;
    }
  }

  button {
    opacity: 0;
    position: absolute;
    padding: 10px;

    @media screen and (max-width: 768px) {
      height: 50px;
      width: 50px;
    }

    @media screen and (min-width: 769px) {
      height: 36px;
      width: 36px;
    }

    &:hover {
      opacity: 100%;
    }
  }

  .spinner {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: white;

    .container {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }

    &.active {
      display: block;
      background: rgba(0, 0, 0, .6);
    }
  }
}
