@import '../shared/styles/underline';

.mediaContent {
  color: inherit;

  .postHeader {
    margin-top: 0;
    margin-bottom: 1em;

    .postAuthor {
      color: inherit;
    }

    .postDate {
      margin-left: 10px;
    }
  }

  .postContent {
    color: inherit;

    .postTitle {
      position: relative;
      display: inline-block;
      @include underline;
    }

    .postTextContent {
      margin-bottom: 1em;
    }

    @include underline-hover('.postTitle');
  }

  .postCommentsButton {
    @include underline;
    @include underline-hover();

    position: relative;
    color: inherit;

    .postCommentsCount {
      margin-left: 5px;
    }
  }
}


