@mixin underline {
  &:after {
    background: none repeat scroll 0 0 black;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
}

@mixin underline-hover($underlined-property: none) {
  @if $underlined-property != none {
    &:focus, &:hover {
      #{$underlined-property}:after {
        width: 100%;
        left: 0;
      }
    }
  } @else {
    &:focus, &:hover {
      &:after {
        width: 100%;
        left: 0;
      }
    }
  }
}
